@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --color-gray-900: #3d3d3d;
  --color-gray-800: #282828;
  --color-gray-700: #575757;
}

.custom-scrollbar::-webkit-scrollbar {
  @apply w-1.5;
}

.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-gray-300 rounded-full dark:bg-gray-600;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-400 dark:bg-gray-500;
}
